body {
  font-family: 'Fredoka One', cursive;
}

.profile-card {
  border-radius: 12px;
  border: 2px solid #ffffff22;
  background-color: #2f3136 !important;
}

#logoutBtn {
  font-weight: bold;
  padding: 6px 12px;
  font-size: 0.9rem;
  border-radius: 8px;
  white-space: nowrap;
}

#pfp{
 width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  object-fit: cover;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
